{% extends "blog/base.html" %}
{% block content %}

{% if form.errors %}
  <p>Usuario ou senha incorretos.</p>
{% endif %}


<div class='row'>
    <div class="col-sm-6">
<div class="container">
 <h2>Entre:</h2>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}

<div class="form-group">
     <label for="eme">Usuario:</label>
     {{ form.username }}
   </div>
<div class="form-group">
     <label for="se">Senha:</label>
     {{ form.password }}
   </div>
   <input type="submit" class="btn btn-primary" value="login" />
   
</form>
<p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
</div>
</div>
<div class="col-sm-6">
<div class="container">
 <h2>Cadastre-se</h2>
 <form method="POST">

<div class="form-group">
     <label for="emc">E-mail:</label>
     <input type="email" class="form-control" id="emc" name="email_cadastrar">
   </div>
   <div class="form-group">
     <label for="uc">Nome de usuario:</label>
     <input type="text" class="form-control" id="uc" name="usuario_cadastrar">
   </div>
   <div class="form-group">
     <label for="sc">Senha:</label>
     <input type="password" class="form-control" id="sc" name="senha_cadastrar">
   </div>
   <div class="form-group">
     <label for="scc">Confirmar senha:</label>
     <input type="password" class="form-control" id="scc" name="con_senha_cadastrar">
   </div>
<input type="submit" class="btn btn-primary" value="Cadastrar-se">

</form>
</div>
</div>
</div>
</div>
</div>

{% endblock %}