<!DOCTYPE html>
<html lang="pt">
<head>
  <title>Brog NSEI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
      #logo{
          float: left
      }
      #usuario	{
			float:	right;
			margin: 0 0 0px 0px;
		}
        #logo_total {
            background-color: lightgray;
        }
      #titulo{
        margin: 0 0 0 0px
      }
      #button{
      float:left
    }
    #dislike{
      float:right
    }
    form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    height: 47px;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
  #post{
    float: left;
  }
  #posts{
    float:right
  }
  </style>
</head>
<body>
  {% load static %}
<div id='logo_total' class='row'>
<div class= "col-sm-4"><a href='{% url "post-list"%}'><img id ='logo' src="{% static 'logo.jpg' %}" height="110px"></a></div>
<div class= "col-sm-4">
  <center><h1>Blog NSEI</h1>
  <p>Aqui é possivel encontrar de tudo um pouco</p> </center>
</div>
<div class= "col-sm-4"><a href='{% url "login" %}'><img id="usuario" src="{% static 'usuario.png' %}" alt="usuario" height="110px" width="110px"></a></div>
</div>
  
  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-3">
          <form class="example" action="{% url 'search' %}" style="margin:auto;max-width:300px" method="get">
            <input type="text" placeholder="Pesquisar" name="pesq">
            <button type="Pesquisar"><i class="fa fa-search"></i></button>
          </form>
        <h3>Classificar por:</h3>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Curtidas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dislikes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Suas Postagens</a>
          </li>
        </ul>
        <hr class="d-sm-none">
      <h3>Categoria:</h3>
      <ul class="nav nav-pills flex-column">
      {% for category in categories %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category-detail' category.id %}">{{category}}</a>
        </li>
        {% endfor %} 
      </ul>
      <hr class="d-sm-none">
    </div>

{% block content %}
{% endblock %}
    </div>
  </div>
</div>



<div id='logo_total' class="jumbotron text-center" style="margin-bottom:0">
    <a type='button' href = "http://moodle.ibiruba.ifrs.edu.br/" class="btn btn-secondary">Sobre o site</a>
    <a type='button' href = "{% url 'tdu-detail' 1 %}" class="btn btn-secondary">Termos de uso</a>
  </div>
  
  </body>
  </html>