{% extends "blog/base.html" %}
{% block content %}
<style>
    form.example input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
    }
    
    form.example button {
      float: left;
      height: 47px;
      width: 20%;
      padding: 10px;
      background: #2196F3;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none;
      cursor: pointer;
    }
    
    form.example button:hover {
      background: #0b7dda;
    }
    
    form.example::after {
      content: "";
      clear: both;
      display: table;
    }
    
    #post{
      float: left;
    }
    
    </style>
    <div id='post' class="col-sm-9">
    {% for post in object.posts.all %}
    {% include 'blog/post_card.html' %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}