{% extends "blog/base.html" %}
{% block content %}
<div class="col-sm-9">

<h2 id='titulo'>{{object}}</h2>
<h2 id='titulo'>{{object.category}}</h2>
<h3 id='titulo'>Autor: {{object.author}}</h3>
<h5 id='titulo'>Data: {{object.create_at}}</h5>
<center><img src='{{object.img.url}}' width="70%">
<h5>{{object.description|safe}}</h5>
<p>{{object.text|safe}}</p></center>
<br>
<h1>Comentarios:</h1>
<form method="POST" action="{% url 'comment' object.id %}">
    {% csrf_token %}
    <textarea name="text">
    </textarea>
    <input type="submit" value="Comentar">
</form>

{% for comment in object.comments.all %}
<h4>Por: {{comment.author}}</h4>
<p>{{comment.created_at}}</p>
<p>{{comment.text}}</p>
{% endfor %}
</div>
</div>
</div>


{% endblock %}