{% load static %}

    <h2>{{post.title}}</h2>
    <h2>{{post.category}}</h2>
    <h3>Autor: {{post.author}}</h3>
    <h5>Data: {{post.create_at}}</h5>
    <img class='img-fluid' src='{{post.img.url}}' height="300px" width="1000px">
    <h5>{{post.description|safe}}</h5>
    <a id='button' type='button' href = "{% url 'post-detail' post.pk %}" class="btn btn-primary">Ler mais</a>
    <button id='dislike'><img src='{% static "dislike.png" %}' height='40px' width="40px"></button>
    <center><button><img src='{% static "like.png" %}' height='40px' width="40px"></button></center>
    <br>
    