{% extends "blog/base.html" %}
{% block content %}
<div id='post' class="col-sm-9">
    <h3>Resultados da pesquisa:</h3>
    {% for post in object_list %}
     {% include 'blog/post_card.html' %}
      {% endfor %}
</div>
</div>
</div>
  

{% endblock %}