{% extends "blog/base.html" %}
{% block content %}

        <div class="col-sm-9">
            <h2>{{object.text}}</h2>
            <h2>{{object.par1}}</h2>
            <h2>{{object.par2}}</h2>
            <h2>{{object.par3}}</h2>
            <h2>{{object.par4}}</h2>
            <h2>{{object.par5}}</h2>
            <h2>{{object.par6}}</h2>
            <h2>{{object.par7}}</h2>
</div>
</div>
</div>


{% endblock %}