{% extends "blog/base.html" %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">email</h4>
          <h1><strong>nome</strong></h1>
          <a href = "alterar_dados.php" type="button" class="btn btn-success btn-block">Alterar dados</a><br>
          <a href = "a.php" type="button" class="btn btn-success btn-block">Sair</a><br>
          <a href = "excluir_usuario.php" type="button" class="btn btn-success btn-block">Excluir conta</a><br>
        </div>
    </div>
</div>

{% endblock %}